$bg-color: rgb(6, 5, 5);
$main-color: #ffffff;
$second-color: #d2d2d2;
$dark-grey-color: #707070;
$grey-color: #a5a5a5;

// HEADER COLORS
//$one: #ff057c;
//$two: #532dbd;
//$three: #8f4fa8;
$one: #2e627a;
$two: #002d70;
$three: #4943f4;