*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
font-family: 'Inter', sans-serif;
	background-color: #000;
	overflow-x: hidden;
}

.DVD-section {
	width: 100%;
	background-image: url('/Users/szymonadamczewski/Desktop/DVD-rental.png');
	background-position: cover;
	background-size: cover;
	height: 825px;
}
.blur {
	width: 100%;
	height: 100%;
	/*backdrop-filter: blur(15px);*/
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}
.text {
	z-index: 2;
	color: white;
	text-align: left;
}

.nav {
	top: 0;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #fff;
	position: fixed;
}

.nav-container {
	display: flex;
	flex-direction: row;
width: 80%;
max-width: 1200px;
	justify-content: space-between;
}

.nav_left {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav_left-logo {
	max-height: 100px;
}

.nav_left-search {
	width: 100%;
	min-height: 100px;
	padding: 5%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav_left-search-bar {
	width: 80%;
	min-width: 400px;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 5px 10px;
	backdrop-filter: blur(4px);
}

.nav_left-search-bar input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 14px 10px;
	font-size: 20px;
}

.nav_left-search-bar button img {
	width: 20px;
}

.nav_left-search-bar button {
	border: 0;
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	background-color: #2e627a;
	cursor: pointer;
}

.nav_right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav_right-btns {
	display: flex;
	flex-direction: row;
	color: #033045;
	font-size: 32px;
	font-weight: 400;
	line-height: 39px;
	text-align: center;
	padding: 5% 10px;
}

.nav_right-btns-btn {
	padding: 5px 15px;
	margin: 5px;
	text-decoration: none;
	color: #033045;
}

.nav_right-btns-login {
	color: #fff;
	font-weight: bold;
	background-color: #2e627a;
	border-radius: 20px;
}

.footer {
	display: flex;
	background-color: black;
	flex-direction: column;
}
.footer_up {
	max-height: 300px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 15px solid grey;
	border-bottom: 10px solid grey;
}
.footer_left {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: auto;
}
.footer_left-logo {
	max-height: 80px;
	max-width: 80px;
	margin-left: 22px;
}
.footer_left-text {
	color: #64aac3;
	padding: 5px 15px;
	margin: 5px;
	text-align: right;
	font-size: 16px;
}
.footer_right {
	display: flex;
	flex-direction: column;
	margin: 15px;
}
.footer_right-btns {
	flex-direction: row;
	display: flex;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 39px;
	text-align: center;
	padding: 5px 15px;
}
.footer_right-btns-btn {
	padding: 5px 15px;
	margin: 5px;
	text-decoration: none;
	color: white;
}
.footer_right-phone {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	line-height: 39px;
	font-weight: 400;
	flex-direction: row;
	display: flex;
	font-size: 20px;
	text-align: left;
}
.footer_right-phone-tel {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 5px;
}
.footer_right-phone-img {
	max-height: 40px;
	padding: 20px;
	margin-top: 20px;
}
.footer_autors {
	max-height: 50px;
	color: white;
	font-size: 12px;
	background-color: black;
	text-align: center;
}
