*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #2e627a;
	overflow-x: hidden;
}

.max-width {
	width: 100%;
	max-width: 1200px;
}
/* ----------------------------- */
/* ---------NAV----------------- */
/* ----------------------------- */
.nav {
	z-index: 100;
	top: 0;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #fff;
	position: fixed;
}

.nav-container {
	display: flex;
	flex-direction: row;
	width: 80%;
	max-width: 1200px;
	justify-content: space-between;
}

.nav_left {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	max-width: 600px;
}
.nav_left-logo {
	max-height: 100px;
}

.nav_left-search {
	width: 100%;
	min-height: 100px;
	padding: 5%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav_left-search-bar {
	min-width: 300px;
	width: 1000%;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	padding: 5px 10px;
	backdrop-filter: blur(4px);
}

.nav_left-search-bar input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 14px 10px;
	font-size: 2rem;
}

.nav_left-search-bar button img {
	width: 20px;
}

.nav_left-search-bar button {
	border: 0;
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
	background-color: #2e627a;
	cursor: pointer;
}

.nav_right {
	min-width: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.nav_right-btns {
	display: flex;
	flex-direction: row;

	color: #033045;
	font-size: 2rem;
	font-weight: 400;
	line-height: 39px;
	text-align: center;
	padding: 5px 10px;
}

.nav_right-btns-btn {
	padding: 5px 15px;
	margin: 5px;
	text-decoration: none;
	color: #033045;
}

.nav_right-btns-login {
	color: #fff;
	font-weight: bold;
	background-color: #2e627a;
	border-radius: 20px;
}

/* ----------------------------- */
/* ---------HEADER-------------- */
/* ----------------------------- */
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	min-height: 500px;
	height: 80vh;
}

.header_box {
	display: flex;
	position: relative;
	max-width: 1200px;
	width: 100%;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.header_box-left {
	padding-top: 120px;
	padding-right: 1rem;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	width: 50%;
	color: #fff;
}

.header_box-left h1 {
	font-size: 4rem;
	line-height: 5rem;
	letter-spacing: 3px;
	margin: 2rem 0;
}

.header_box-left p {
	padding: 0.25rem 0;
	margin: 1rem 0;
	font-size: 1.8rem;
}

.header_box-left-btn {
	font-size: 2.2rem;
	letter-spacing: 3px;
	color: #2e627a;
	font-weight: bold;
	background-color: #fff;
	border-radius: 20px;
	border: none;
	padding: 0.5rem 2rem;
	margin: 3rem 0;
}

.header_box-left-btn:hover{
	color: #fff;
	background-color: #033045;
}

.header_box-right {
	width: 50%;
	height: 100%;
	background-image: url(./DVD-rental.png);
	background-position: center;
}

/* ----------------------------- */
/* ---------FOOTER-------------- */
/* ----------------------------- */
.footer {
	display: flex;
	background-color: black;
	flex-direction: column;
}
.footer_up {
	max-height: 300px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 15px solid grey;
	border-bottom: 10px solid grey;
}
.footer_left {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: auto;
}
.footer_left-logo {
	max-height: 80px;
	max-width: 80px;
	margin-left: 22px;
}
.footer_left-text {
	color: #64aac3;
	padding: 5px 15px;
	margin: 5px;
	text-align: right;
	font-size: 1.6rem;
}
.footer_right {
	display: flex;
	flex-direction: column;
	margin: 15px;
}
.footer_right-btns {
	flex-direction: row;
	display: flex;
	color: white;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 39px;
	text-align: center;
	padding: 5px 15px;
}
.footer_right-btns-btn {
	padding: 5px 15px;
	margin: 5px;
	text-decoration: none;
	color: white;
}
.footer_right-phone {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px 15px;
	line-height: 39px;
	font-weight: 400;
	flex-direction: row;
	display: flex;
	font-size: 2rem;
	text-align: left;
}
.footer_right-phone-tel {
	text-decoration: none;
	color: white;
	font-size: 2rem;
	padding: 5px;
}
.footer_right-phone-img {
	max-height: 40px;
	padding: 20px;
	margin-top: 20px;
}
.footer_autors {
	max-height: 50px;
	color: white;
	font-size: 1.2rem;
	background-color: black;
	text-align: center;
}
